.Booking {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
    h2 {
      color: #C67B47;
    }
    h3 {
      color: #C67B47;
    }
}
.FormContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    form {
      display: flex;
      flex-direction: column;
      width: 30%;
      margin: 20px;
          input {
            background-color: lightgray;
          }
  }
}
button{
  padding:8px 48px;
  background-color: #C67B47;
  border:2px solid transparent;
  box-sizing: border-box;
  font-weight:400;
  color:white;
  text-align:center;
  border-radius: 20px;
  
  }
  button:hover{
  color:#DDDDDD;
  border-color:#DDDDDD;
  cursor:pointer;
  }
  button:disabled{
    background-color: grey;
  }
  button:disabled:hover {
    border-color: grey;
    color: white;
  }
  .timeContainer {
      margin-top: 10px;
      margin-bottom: 5px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  }
  #numPeople {
    width: 35px;
  }

  .tableAvailable {
    color: green;
    text-align: center;
  }
  .tableNotAvailable {
    color: red;
    text-align: center;
  }