
.BookingsContainer{
    
    .titleContainer{
        width: 100%;
        h3{
            text-align: center;
        }
    }
    .bookingLink{
        width:20%;
        @media screen and (max-width: 720px) {
            width:80%;
         }
    }
display:flex;
flex-wrap: wrap;
width:100%;
gap:10px;
justify-content: center;
margin: 7em 0 2.5em 0;

}
.filters {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @media screen and (max-width: 720px) {
    margin-top:50px;
    flex-wrap: wrap;
    gap:5px;
    }

    label {
        margin-right: 5px;
        display: flex;
        align-items: center;
        @media screen and (max-width: 720px) {
            
            }
    }
    button {
        margin-left: 25px;
        @media screen and (max-width: 720px) {
    }

    }
}
.bookingcontainer{
    display: flex;
    flex-direction: column;
    height:250px;
    align-items: center;
    justify-content: center;
    background-color: #1c1b1b;
    font-size: 15px;
    padding:15px;
    border: 1px solid white;
    text-align: center;
}

.bookingcontainer:hover {
    cursor: pointer;
   }
   input {
    text-align: center;
    padding: 1em 0;
    color: white;
    background-color: black;
    border: 1px solid #C67B47;
    width: 100%;
    margin: 3px;
    color-scheme: dark;
    &::placeholder {
        font-weight: bold;
        color: white;
      
    }
}

.time {
    display: flex;
    @media screen and (max-width: 720px) {
        flex-wrap: wrap;
        width:100%;
        justify-content: center;
        gap:5px;
    }
    button{
        @media screen and (max-width: 720px) {
        margin:0;
        }
    }
}

.bookingIdTitle {
   display: flex;
   flex-direction: column;
   gap:0.5em
}