

.contact {

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .colorClass {
        color: #C67B47;
    }

    .contact__content {
        width: fit-content;
        text-align: center;
    }

    h3 {
        font-size: 2.5em;
        margin: 0 0 0.7em 0;
       
    }

    .contact__content__adress {
        display: flex;
        flex-direction: column;
        gap: 0.3em;
        padding-bottom: 1em;
        font-size: 1.2em;
        font-weight: bold;
    }

    .contact__content__name {
       
    }
    .contact__content__street {

    }
    .contact__content__phone {
      
    }

    .contact__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        .form__content {
            display: flex;
            gap:0.4em;
            margin: 1em 0;
            
        }

        .form__inputs {
            display: flex;
            flex-direction: column;
            width: 280px;
            justify-content: space-between;
        

        }
        input {
            text-align: center;
            padding: 0.7em 0;
            color: white;
            background-color: black;
            border: 1px solid #C67B47;
            &::placeholder {
                font-weight: bold;
                color: white;
              
            }
        }

        textarea {
            resize: none;
            text-align: center;
            background-color: black;
            border: 1px solid #C67B47;
            color: white;
            width: 280px;
            &::placeholder {
                font-weight: bold;
                color: white;
                
            }
        }
    }
}