body{
    // background-color: rgb(39, 39, 39);
    // background-color: #0a0a0a;
    background-color: black;
    color:white;
div {
    // font-family: 'Rubik', sans-serif;
    div{
        .ceasar{
            display:flex;
            align-items: center;
            justify-content: center;
            img{
                height:250px;
            }
        }
        .hero{
            
            color:white;
            display:flex;
            flex-direction: column;
            height:100vh;
            width:100%;
            background-image: url("https://www.grandhotellapland.se/wp-content/uploads/2021/03/dsc_6079_26285328416_o-scaled-e1615978162929.jpg");
            background-repeat: no-repeat;
            justify-content: space-evenly;
            background-position: center;
            @media screen and (max-width: 720px) {
               background-position: center;
               background-image: url("https://thegourmetbonvivant.com/wp-content/uploads/2023/02/filet-mignon-ft.jpg");
            }

            .heroContent{
                display: flex;
                flex-direction: column;
                gap:1em;
                
            h3{
                margin:0;
                font-size:45px;
                font-weight:bolder;
                display: flex;
                align-items: center;
                justify-content: center;
                @media screen and (max-width: 720px) {
                    font-size:25px;
                 }
            }

        .buttoncontainer{
            display:flex;
            gap:25px;
            align-items: center;
            justify-content: center;
            button{
                // padding:8px 48px;
                // background-color: transparent;
                // border:2px solid #FFFFFF;
                // margin:0 5px 5px 0;
                // box-sizing: border-box;
                // font-weight:400;
                // color:#FFFFFF;
                // text-align:center;
                // }
                // button:hover{
                // color:#DDDDDD;
                // border-color:#DDDDDD;
                // cursor:pointer;

                 }
            }
            }
        }
        h2{
            text-align: center;
        }
        }

        .mainContainer {
            display:flex;
            height: 100vh;
            margin-bottom: 6em;
            justify-content: center;
            gap: 4em;
        

            align-items: center;
            @media screen and (max-width: 720px) {
                flex-direction: column;
             }
            .imageContainer{
                width:30%;
                display:flex;
                justify-content: center;
                @media screen and (max-width: 720px) {
                    width:100%;
                 }
                img{
                    margin:15px;
                    border:5px solid black;
                    width:80%;
                }
            }
            .container{
                width:50%;
                @media screen and (max-width: 720px) {
                    width:80%;
                 }
                p{
                    font-size:24px;
                    @media screen and (max-width: 720px) {
                        font-size:18px;
                     }
                }
            }

        }

        .menuContainer{

            box-sizing: border-box;
            border:1px solid #C67B47;
            display:flex;
            margin:15px;
            text-align: center;
            margin-top: 3em;
            padding: 0.5em 0;
            
            @media screen and (max-width: 720px) {
                flex-direction: column;
                width:90%;
                margin:0 auto;
                margin-bottom:15px;
             }
            .menuContainerFood{
                border-right:1px solid #C67B47;
                width:50%;
                @media screen and (max-width: 720px) {
                    width:100%;
                    border-right:0;
                 }
            ul{
                padding:0;
                margin-left:0;
                list-style-type: none;
                
                li{
                    padding-left:10px;
                    margin:15px;
                    text-align: center;
                }
            }
        }
        .menuContainerDrink{
            border-left: 1px solid #C67B47;
            width:50%;
            @media screen and (max-width: 720px) {
                border-top:1px solid #C67B47;
                border-left:0;
                width: 100%;

            }
            ul{
                padding:0;
                list-style: none;
                li{
                    padding-left:10px;
                    margin:15px;
                    text-align: center;
                }
            }
        }
        }
    }

}



.videoContainer {
    position: absolute;
    top:100vh;
    z-index: -1;
    opacity: 15%;
}

.steakVideoContainer {
display: flex;
align-items: center;
justify-content: center;
height: 550px;
overflow: hidden;
margin: 5em 0;
}