

footer{
    color:#C67B47;
    background-color: black;
    padding: 0.5em 0;
    width:100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-size:18px;
    border-top: 1px solid #f89956;
    margin-top: auto;

    a {
        color: inherit; 
        text-decoration: inherit;
        &:hover {
            color: #f89956;
        }
      }
    @media screen and (max-width: 720px) {
        flex-direction: column-reverse;
        font-size:12px;
     }
     h4{
        font-size:18px;
        margin:0;
        margin-bottom: 15px;
        padding:0;
     }    .links{
        display:flex;
        @media screen and (max-width: 720px) {
            width:100%;
        }
        h5{
            font-size:20px;
            margin:0;
            border-bottom:1px solid white;
            margin-bottom: 0.2em;
            padding-bottom: 0.2em;
            @media screen and (max-width: 720px) {
                font-size:20px;
                width:100%;
            }
        }
        ul{

            gap:25px;
            @media screen and (max-width: 720px) {
                padding:0;
                margin:5px;
                width:100%;
                text-align: center;
            }
            li{
                list-style: none;
                padding: 0.2em 0 0.2em 0;
                @media screen and (max-width: 720px) {
                    margin:5px;
                    font-size:15px;
                }
            }
           }
    }
}