.bookingDetailsContainer {
    display:flex;
    width:100%;
    height:100%;
    justify-content: center;
    flex-basis: 100%;
    flex-wrap: wrap;
    margin-top:150px;
    .bookingDetailsInfo{
        h3{
            text-align: center;
        }
        
        margin:15px;
        width: 40%;
        border:1px solid grey;
        padding:15px;
        .updateBookingButtonContainer{
            display:flex;
            justify-content: center;
        }
        .updateBookingContainer{
            form{
            display:flex;
            flex-direction: column;
            align-items: center;
            width:100%;
            flex-wrap: wrap;
            }
        }

    }
    .bookingDetailsCustomer{
        h3{
            text-align: center;
        }

        margin:15px;
        width:40%;
        border:1px solid grey;
        padding:15px;

    }
    .buttonContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
        padding:50px;
    }
    .updateCustomerButtonContainer{
        display:flex;
        justify-content: center;
    }
    .updateCustomerContainer{
        display: flex;
        justify-content: center;
        width:100%;
        form{
            display:flex;
            flex-direction: column;
            align-items: center;
            width:100%;
            flex-wrap: wrap;
            }
    }
}        
