
.bookingDetailsContainer {
    display:flex;
    width:100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:150px;

    .bookingDetailsInfo{
        h3{
            text-align: center;
        }
        
        margin:15px;
        width: 40%;
        
        border:1px solid grey;
        padding:15px;
        .updateBookingButtonContainer{
            display:flex;
            justify-content: center;
        }
        .updateBookingContainer{
            form{
                margin:15px;
                display:flex;
                flex-direction: column;
                align-items: center;
                width:100%;
                flex-wrap: wrap;
                gap:5px;
                
                
                #date{
                    width: 210px;
                    height: 50px;
                    padding: 0 16px;
                    background: transparent;
                    border-radius: 4px;
                    border: 1px solid #C67B47;
                    color: #f9f9f9;
                    color-scheme: dark;
                }

                #time1, #time2{
                    color: #C67B47;
                    color-scheme: dark;
                }
                #numPeople{
                    width: 210px;
                    height: 50px;
                    padding: 0 16px;
                    background: transparent;
                    border-radius: 4px;
                    border: 1px solid #C67B47;
                    color: #f9f9f9;
                    color-scheme: dark;
                }
                .seatingContainer{
                    gap:15px;
                }
            .buttonContaienrBookingForm{
                margin:15px;
                gap:15px;
                display: flex;
                flex-direction: row;
            }
            }
        }

    }
    .bookingDetailsCustomer{
        h3{
            text-align: center;
        }

        margin:15px;
        width:40%;
        border:1px solid grey;
        padding:15px;

    }
    .buttonContainer{
        display: flex;
        justify-content: center;
        width:100%;
        padding:50px;
    }
    .updateCustomerButtonContainer{
        display:flex;
        justify-content: center;
    }
    .updateCustomerContainer{
        display: flex;
        justify-content: center;
        width:100%;
        form{
            margin:15px;
            display:flex;
            flex-direction: column;
            align-items: center;
            width:100%;
            flex-wrap: wrap;
            gap:5px;
            input{
                
                width: 210px;
                height: 50px;
                padding: 0 16px;
                background: transparent;
                border-radius: 4px;
                border: 1px solid #C67B47;
                color: #f9f9f9;
                color-scheme: dark;
            }
            .buttonContainerCustomerForm{
            margin:15px;
            gap:15px;
            display: flex;
            flex-direction: row;
        }    
        }

    }
}        
