@font-face {
  font-family: "RomanSD";
  src: local("RomanSD"),
  url(./fonts/RomanSD.ttf) format("truetype");
}
body {
  margin: 0;
  font-family: "RomanSD";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

button {
  font-family: "RomanSD";
}
input, textarea {
  font-family: "RomanSD";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
